<header>
    <div id="nav-main">
        <a type="button" href="{{ path('home') }}">
            <span>Accueil</span>
            <img alt="logo" src="{{ asset('assets/Logo_NanoStore.svg') }}" width="80" height="80">
        </a>
    </div>
</header>