.wrapper-content {
    display: flex;
    gap: 16px;
}

#product-sheet {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border-radius: 10px;
    padding: 24px 96px;
}

.infoText {
    font-size: 40px;
    white-space: nowrap;
}

#description {
    font-size: 24px;
    text-align: center;
}

#order {
    min-width: 500px;
    max-height: 500px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 24px;
    background-color: #2A60B7;
    border-radius: 10px;
    gap: 12px;
}

#order form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    width: 100%;
}

#price {
    font-size: 32px;
}

.add-to-cart {
    background-color: #9CD323;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    font-size: 32px;
    text-align: center;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    white-space: nowrap;
}

.add-to-cart:hover {
    background-color: #45a049;
}

label[for="quantity-select"] {
    display: flex;
    align-items: center;
    gap: 8px;
    width: 100%;
}

#quantity-select {
    font-size: 20px;
    border: 1px solid #D5D9D9;
    background-color: white;
    border-radius: 10px;
    padding: 8px;
    width: 100%;
}

#in-stock,
#low-stock,
#out-of-stock {
    align-self: flex-start;
    font-size: 24px;
}